/* MIXINS */
/* =============================== 
 HOW TO USE MIXINS FOR RESPONSIVE :
 .container {
 //your global css (specified $globalMaxWidth: 1200px;)
 // 550px window width and more
 @include screen-xs {
 //your scss for this device
 }
 // 980px window width and more
 @include screen-m {
 //your scss for this device
 }
 }
 ===============================*/
/* VARS */
/* BASE */
/*
 Font weights, according to Mozilla's recommendations :
 100 : Thin
 300 : Light
 400 : Regular
 500 : Medium
 600 : Semi-Bold
 700 : Bold
 800 : Black
 */
body {
  font-family: Arial, "Times New Roman", "Bitstream Charter", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126
 License: none (public domain)
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* COMPONENTS */
footer.footer {
  width: 100vw;
  height: 1050px;
  background-color: black;
}
/* PAGES */
