/* MIXINS */
/* =============================== 
 HOW TO USE MIXINS FOR RESPONSIVE :
 .container {
 //your global css (specified $globalMaxWidth: 1200px;)
 // 550px window width and more
 @include screen-xs {
 //your scss for this device
 }
 // 980px window width and more
 @include screen-m {
 //your scss for this device
 }
 }
 ===============================*/
/* VARS */
/* BASE */
/*
 Font weights, according to Mozilla's recommendations :
 100 : Thin
 300 : Light
 400 : Regular
 500 : Medium
 600 : Semi-Bold
 700 : Bold
 800 : Black
 */
@font-face {
  font-family: 'Avenir';
  src: url('../assets/fonts/Avenir-MediumOblique.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Avenir';
  src: url('../assets/fonts/Avenir-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url('../assets/fonts/Avenir-Oblique.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Avenir';
  src: url('../assets/fonts/Avenir-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Black Oblique';
  src: url('../assets/fonts/Avenir-BlackOblique.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Avenir';
  src: url('../assets/fonts/Avenir-Black.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url('../assets/fonts/Avenir-BookOblique.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Avenir';
  src: url('../assets/fonts/Avenir-HeavyOblique.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Avenir';
  src: url('../assets/fonts/Avenir-LightOblique.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Avenir';
  src: url('../assets/fonts/Avenir-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url('../assets/fonts/Avenir-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: Arial, "Times New Roman", "Bitstream Charter", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126
 License: none (public domain)
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* COMPONENTS */
footer#footer {
  width: 100vw;
  height: 1050px;
  background-color: black;
  color: #fff;
  font-family: 'Avenir';
}
footer#footer div.cta-testimonial {
  height: 390px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer#footer div.cta-testimonial h1 {
  font-weight: 800;
  font-size: 35px;
  text-transform: uppercase;
}
footer#footer div.cta-testimonial p {
  width: 660px;
  margin-top: 40px;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
}
footer#footer div.cta-testimonial a.cta-testify {
  width: 180px;
  height: 50px;
  margin-top: 20px;
  font-weight: 900;
  background-color: #52a55d;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid;
  outline: 1px solid;
  outline-color: rgba(82, 165, 93, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
footer#footer div.cta-testimonial a.cta-testify:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #52a55d;
}
footer#footer div.cta-testimonial a.cta-testify:link, footer#footer div.cta-testimonial a.cta-testify:visited, footer#footer div.cta-testimonial a.cta-testify:active {
  text-decoration: none;
  color: inherit;
}
/* PAGES */
