div.make-testimonial-form {
  max-width: 750px;
  background-color: $white-text;
  color: $black-background;
  margin: 30px 0;

  div#wpmtst-form {

    div.strong-form-inner {

      p.required-notice {
        font-size: 12px;
      }

      form#wpmtst-submission-form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        font-weight: $font-weight-semibold;

        div.field-client_first_name, div.field-client_last_name {
          input {
            width: 310px;
            height: 43px;
            padding: 10px;
            font-family: $font-avenir;
            font-size: 15px;
            font-weight: $font-weight-medium;
          }
        }

        div.field-client_first_name {
          margin-right: 40px;
          padding: 10px;
          font-family: $font-avenir;
          font-size: 15px;
          font-weight: $font-weight-medium;
        }

        div.field-email {
          input {
            width: 660px;
            height: 43px;
            padding: 10px;
            font-family: $font-avenir;
            font-size: 15px;
            font-weight: $font-weight-medium;
          }
        }

        div.field-post_title {
          input {
            width: 660px;
            height: 43px;
            padding: 10px;
            font-family: $font-avenir;
            font-size: 15px;
            font-weight: $font-weight-medium;
          }
        }

        div.field-category {
          select {
            width: 660px;
            height: 43px;
          }
        }

        div.field-post_content {
          textarea {
            width: 660px;
            padding: 10px;
            font-family: $font-avenir;
            font-size: 15px;
            font-weight: $font-weight-medium;
          }
        }

        input#wpmtst_submit_testimonial {
          width: 280px;
          height: 50px;
          margin-top: 20px;
          font-family: $font-avenir;
          font-weight: $font-weight-heavy;
          font-size: 15px;
          color: $white-text;
          background-color: $green-button;
          display: flex;
          justify-content: center;
          align-items: center;

          border: 0px solid;
          outline: 1px solid;
          outline-color: rgba(82, 165, 93, .5);
          outline-offset: 0px;
          text-shadow: none;
          transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);

          &:hover {
            cursor: pointer;
            @include button-hover;
          }
        }
      }
    }
  }
}