<div class="cta-testimonial">
    <h2>Votre participation compte !</h2>
    <p>N'hésitez pas à partager vos témoignages, vos avis et vos tips pour faire évoluer notre blog.</p>
    <a href="#" class="cta-testify">
        <div class="cta-testify">Témoigner</div>
    </a>
</div>

<div class="newsletter">
    <h2>Newsletter</h2>
    <p>Ne ratez aucun article</p>

    {% include 'partial/mailchimp-form.twig' %}
</div>

<div class="footer-links">

</div>

<div class="copyright">
    Copyright {{"now"|date('Y')}} - Ecologia, Tous droits réservés
</div>