section.content-wrapper {
  background-color: $black-background;

  div.wrapper.homepage {
    margin: 0 100px;
    font-family: $font-avenir;
    color: $white-text;


    h1 {
      font-weight: $font-weight-black;
      font-size: 35px;
      text-transform: uppercase;
    }

    h2 {
      font-weight: $font-weight-medium;
      font-size: 20px;
      text-transform: uppercase;
      color: $green-text;
    }

    div.block {
      padding: 100px 0;
    }

    div.subjects-block {
      div.subjects-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        div.subject {
          width: 600px;
          height: 250px;
          position: relative;
          text-align: center;
          margin: 30px 0;

          div.thematic-img {
            position: relative;
            display: block;
          }

          div.thematic-text {
            position: absolute;
            top: 120px;
            right: 0;
            bottom: 0;
            left: 0;
          }
        }
      }
    }

    div.about-block {
      div.content {
        position: relative;

        h1 {
          position: absolute;
          bottom: 445px;
          left: 855px;
        }

        p.about-text {
          color: $black-background;
          font-weight: $font-weight-medium;
          font-size: 18px;
          line-height: 28pt;
          background-color: $white-text;
          position: absolute;
          bottom: 150px;
          left: 540px;
          padding: 35px 110px 35px 50px;

          span.ecologia {
            font-weight: $font-weight-heavy;
            color: $green-text;
          }
        }

        div.cta-button {
          position: absolute;
          bottom: 45px;
          right: 0;
        }
      }
    }
  }
}