section.content-wrapper {
  background-color: $black-background;

  div.wrapper.testimonials {
    padding-top: 160px;
    font-family: $font-avenir;
    color: $white-text;

    div.sub-header {
      width: 100vw;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      div.intro-img {
        position: relative;
        width: 100%;

        img {
          width: 100%;
          height: auto;
          object-fit: cover;
          object-position: 50% 50%;
        }
      }

      div.intro-title {
        position: absolute;

        h1.intro-h1 {
          font-weight: $font-weight-black;
          font-size: 45px;
          text-transform: uppercase;
        }
      }
    }

    div.content {
      margin: 70px 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-weight: $font-weight-medium;
      font-size: 18px;
      line-height: 30px;

      h3.main-description {
        font-weight: $font-weight-heavy;
        font-size: 25px;
        text-align: center;
      }

      div.testimonials-wrapper {

        div.strong-content {
          display: flex;
          flex-direction: row;

          div.testimonial {
            margin: 30px;
            padding: 30px;
            width: 330px;
            border: 10px solid;
            box-sizing: border-box;
            background-color: $white-text;
            color: $black-background;

            div.testimonial-inner {

              h3.testimonial-heading {
                font-weight: $font-weight-black;
                font-size: 20px;
                margin-bottom: 10px;
              }

              div.testimonial-content {
                font-weight: $font-weight-medium;
                font-size: 18px;
                line-height: 28px;
                margin-bottom: 10px;
              }

              div.testimonial-client {

                div.first-name {
                  display: inline;
                  margin-right: 3px;
                }

                div.last-name {
                  display: inline;
                }

                div.testimonial-category {
                  font-weight: $font-weight-black;
                  font-size: 18px;
                  margin-top: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}