section.content-wrapper {
  background-color: $black-background;

  div.wrapper.thematic-page {
    padding-top: 160px;
    font-family: $font-avenir;
    color: $white-text;

    div.sub-header {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      div.intro-img {
        position: relative;
        width: 100%;

        img {
          width: 100%;
          height: auto;
          object-fit: cover;
          object-position: 50% 50%;
        }
      }

      div.intro {
        position: absolute;
        text-align: center;

        h1.intro-h1 {
          font-weight: $font-weight-black;
          font-size: 45px;
          text-transform: uppercase;
        }

        p {
          max-width: 880px;
          margin-top: 30px;
          font-family: $font-avenir;
          color: $white-text;

          span {
            font-weight: $font-weight-heavy;
            color: $green-text;
          }
        }
      }
    }

    div.articles {
      margin: 50px 100px;

      h1 {
        font-weight: $font-weight-black;
        font-size: 35px;
        text-transform: uppercase;
      }

      h2 {
        font-weight: $font-weight-medium;
        font-size: 20px;
        text-transform: uppercase;
        color: $green-text;
      }

      div.articles-wrapper {
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        div.article {
          margin-top: 30px;
          margin-bottom: 100px;
          position: relative;

          div.post-thumnail {
            width: 600px;
            height: 300px;
            img {
              position: relative;
              width: 600px;
              height: 230px;
              object-fit: cover;
              object-position: 50% 50%;
            }
          }

          div.content {
            width: 500px;
            background-color: $white-text;
            color: $black-background;
            position: absolute;
            top: 150px;
            left: 30px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            a.post-title {
              font-weight: $font-weight-heavy;
              font-size: 22px;
              color: $black-background!important;
              margin-bottom: 10px!important;
              @include link-interaction;
            }

            p.date {
              font-weight: $font-weight-medium;
              font-size: 16px;
              color: $grey-text;
            }
          }
        }
      }
    }
  }
}
