header.header {
  width: 100vw;
  height: 150px;
  background-color: $black-background;
  color: $white-text;
  font-family: $font-avenir;
  position: fixed;
  z-index: 99999999;


  nav.top-navbar {
    padding: 40px 0;
    margin: 0 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    img.header-logo {
      width: 120px;
      height: 60px;
    }

    div.nav-links {
      display: flex;
      flex-direction: row;
      align-items: center;

      p.nav-link {
        margin: 0 20px;

        a.nav-link {
          @include link-interaction;
        }
      }
    }
  }
}