<div class="top-navbar">
    <img class="header-logo" src="{{ site.link }}/wp-content/uploads/2018/11/logo.png" alt="Ecologia">
    <div class="nav-links">
        <p class="nav-link">Accueil</p>
        <p class="nav-link">Sujets</p>
        <p class="nav-link">Témoignages</p>
        <p class="nav-link">À propos</p>
        <p class="nav-link">Contact</p>
    </div>
    <a href="{{ site.link }}/testimonials" class="cta-button cta-testify">
        <div class="cta-testify">Témoigner</div>
    </a>
</div>

<div class="header-description">
    <h1>L’impact de l’activité de l’Homme sur notre Terre</h1>
    <h2>Découvrez à travers quatres aspects, les impacts positifs et négatifs de nos activités sur notre Terre</h2>

    <div class="cta-discove-whiter">
        <a href="{{ site.link }}" class="cta-white cta-discover">
            <div class="cta-discover">En savoir plus</div>
        </a>
    </div>
</div>