$globalMaxWidth: 1200px;

$screen-xxs:  320px; //rarely use
$screen-xs:   550px;
$screen-s:    750px;
$screen-m:    980px;
$screen-l:    1200px;
$screen-xl:   1400px;
$screen-xxl:  1600px;
$screen-xxxl: 1820px;