$globalMaxWidth: 1200px;

$screen-size-xxs:  320px; //rarely use
$screen-size-xs:   550px;
$screen-size-s:    750px;
$screen-size-m:    980px;
$screen-size-l:    1200px;
$screen-size-xl:   1400px;
$screen-size-xxl:  1600px;
$screen-size-xxxl: 1820px;